.custom-tooltip {
    background: white;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px;
}

.ball {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
}
